@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2:400,600,700&display=swap');

body{
	font-family: "Baloo Tamma 2";
	font-size: 20px;
	color: white;
	/* background-image: url("https://image.freepik.com/free-vector/technology-background-with-abstract-hud_23-2148250643.jpg");
	background-position: center; */

}


/* Navbar starts */
.topNav-links {
	margin-right: 10px;
}

.nav-logo {
	width: 50px;
	height: 50px;
	margin-left: 40px;
	border-radius: 10%;
}

.contact-icon-div {
	padding-bottom: 10px;
	vertical-align: middle;
}
.contact-right-icon {
	padding-right: 200px;
}
.contact-h5 {
	padding-left: 100px;
}
.contact-anchor {
	text-decoration: none;
	color: white;
}

/* Navbar ends */

.home-carousel {
	width: 100%;
}
.home-div {
	width: 100%;
	background-color: #ADD8E6;
}

/*footer starts*/
#footer{
	background: black;
	color: white;
	padding-top: 70px;
	padding-bottom: 40px;
	width: 100%;
}

.logoo{
	width: 90px;
	height: 90px;
	margin-left: 60px;
	border-radius: 10%;
}

.logoo1{
	width: 90px;
	height: 90px;
	margin-left: 30px;
	display: inline;
	border-radius: 10%;
}
 .picc{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

.logoo:hover{
	opacity: 0.8;
}

.logoo1:hover{
	opacity: 0.8;
}

.footer-acm p{
	padding-top: 15px;
	font-size: 20px;
    color: white;
    padding-left: 65px;
	text-align: center;
}

.footer-h3{
    text-align: center;
    text-shadow: 2px 2px red;
}

.location2{
	padding-top: 10px;
	text-align: center;
	font-size: 20px;
}

.foot_icon img{
   width: 40px;
   height: 40px;
   border-radius: 10%;
}
.foot_icon img:hover{
  opacity: 0.5;
}
.icons_uni{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fa-heart{
	color: red;
}

.foot{
	padding-top: 20px;
	text-align: center;
	font-size: 16px;
}

@media only screen and (max-width:360px){
   .footer-h3{
    padding-top: 12px;
   }
   .icons_uni{
    padding-top: 7px;
   }
   .location2{
	padding-top: 5px;
  }
  .picc{
   display: block;
   padding-left: 4px;
 }
  .footer-acm p{
    padding-left: 4px;
 }
}

/*footer ends*/

/*Sponsers starts*/

#sponsors{
	margin-bottom: 50px;
	margin-left: 6%;
}

.head_spons{
	text-align: center;
	color: wheat;
	font-size:100px;
	font-weight: 700;
	text-shadow: 6px 6px rgb(125, 125, 125);
	margin-bottom: 36px;
	margin-top: 20px;
	margin-left: -12%;
}


@media only screen and (max-width:360px){
	.head_spons{
		font-size: 40px;
		text-shadow: 3px 3px rgb(125, 125, 125);
		margin-left: 0;
	}
	#sponsors{
		margin-bottom: 50px;
		margin-left: -10%;
	}
}

/*Sponsers ends*/

/* contact card starts */

.contact-card {
	margin-top: 20px;
	margin-bottom: 20px;
}
.contact-icon {
	padding-left: 5px;
}
.contact-container {
	background-color: #E0EEEE;
}
.contact-right {
	width: 300px;
	height: 400px;
	border-radius: 10px;
	margin-top: 60px;
	margin-left: 70px;
	background-color: #33A1C9;
	color: white;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	text-align: center;
}
.contact-right-h1 {
	padding-bottom: 40px;
}


/* contact card ends */
