@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2:400,600,700&display=swap');
body {
    font-family: "Baloo Tamma 2";
    color: white;
    padding: 0;
    outline: none;
    overflow-x: hidden;
    /* background-image: url("https://image.freepik.com/free-vector/technology-background-with-abstract-hud_23-2148250643.jpg");
	background-position: center; */
}

#root {
    overflow-x: hidden;
}


/* .nav-link::after {
  position: absolute;
  top:100%;
  content: "";
  height: .1em;
  width:10px;
  background: currentColor;
  z-index: -1;
  transform: scaleX(0);
  transition: transform .5s cubic-bezier(.95, .05, .795, .035);
}

.nav-link:hover::after {
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  transform: scaleX(1);
} */

.para {
    font-size: 1.25rem;
}


/* Navbar starts */

.topNav-links {
    margin-right: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

@keyframes anime {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animeline {
    opacity: 0;
    position: relative;
    top: 18px;
    background: white;
    width: 0%;
    height: 3px;
}

.awssld__bullets {
    bottom: 50px;
}

.nav-logo {
    width: 50px;
    height: 50px;
    margin-left: 40px;
    border-radius: 10%;
}

.contact-icon-div {
    padding-bottom: 10px;
    vertical-align: middle;
}

.contact-right-icon {
    padding-right: 200px;
}

.contact-h5 {
    padding-left: 100px;
}

.contact-anchor {
    text-decoration: none;
    color: white;
}


/* Navbar ends */

.home-carousel {
    width: 100%;
}

.home-div {
    width: 100%;
    padding: 0;
}


/*footer starts*/

#footer {
    background: #1a1245;
    color: white;
    padding-top: 70px;
    padding-bottom: 40px;
    width: 100%;
}

.logoo {
    width: 90px;
    height: 90px;
    margin-left: 60px;
    border-radius: 10%;
}

.logoo1 {
    width: 90px;
    height: 90px;
    margin-left: 30px;
    display: inline;
    border-radius: 10%;
}

.picc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logoo:hover {
    opacity: 0.8;
}

.logoo1:hover {
    opacity: 0.8;
}

.footer-acm p {
    padding-top: 10px;
    font-size: 20px;
    color: white;
    padding-left: 65px;
    text-align: center;
}

.footer-h3 {
    text-align: center;
}

.location2 {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

.foot_icon img {
    width: 40px;
    height: 40px;
    border-radius: 10%;
}

.foot_icon img:hover {
    opacity: 0.5;
}

.icons_uni {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fa-heart {
    color: red
}

.foot {
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
}

@media only screen and (max-width:741px) {
    .para {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:360px) {
    #footer {
        padding-top: 30px;
        padding-bottom: 10px;
        width: 100%;
    }
    .footer-h3 {
        padding-top: 8px;
    }
    .icons_uni {
        padding-top: 4px;
    }
    .location2 {
        padding-top: 3px;
    }
    .picc {
        display: block;
        padding-left: 4px;
    }
    .footer-acm p {
        margin-bottom: 3px;
        padding-left: 4px;
        font-size: 16px;
    }
    .logoo {
        width: 60px;
        height: 60px;
        margin-left: 90px;
    }
    .logoo1 {
        width: 60px;
        height: 60px;
    }
    .location2 {
        padding-top: 5px;
        font-size: 16px;
    }
    .foot_icon img {
        width: 30px;
        height: 30px;
        border-radius: 10%;
    }
    .footer-h3 {
        font-size: 25px;
        margin: 4px;
    }
}


/*footer ends*/


/*Sponsers starts*/

#sponsors {
    margin-bottom: 50px;
    margin-left: 6%;
}

.team_head {
    color: #1a1245;
    font-size: 50px;
    font-weight: 700;
}

.head_spons {
    text-align: center;
    color: #1a1245;
    font-size: 50px;
    font-weight: 700;
    /* margin-bottom: 36px; */
    /* margin-top: 20px; */
    margin-left: -12%;
}

@media only screen and (max-width:360px) {
    .head_spons {
        font-size: 40px;
        text-shadow: 3px 3px rgb(125, 125, 125);
        margin-left: 20px;
    }
    #sponsors {
        margin-left: -10%;
    }
}


/*Sponsers ends*/


/* Events starts */

#events {
    margin: 20px;
    margin-bottom: 40px;
}

.table {
    margin-right: 20px;
    margin-top: 30px;
}

.event_head {
    text-align: center;
    font-size: 50px;
    color: #1a1245;
    font-weight: bold;
}

.th_e {
    text-align: center;
    font-size: 20px;
}

.socialbtn {
    outline: none;
    border: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    background: #377293;
}

.socialbtn:hover {
    color: #377293;
    background: white;
    border: 2px #377293 solid;
}

table.table a {
    margin: 0;
    color: #377293;
    font-weight: bold;
}

.events_a {
    font-size: 18px;
    color: #377293;
}

.events_a:hover {
    font-size: 18px;
    color: blue;
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.table tr:nth-child(even) {
    background-color: #eee;
}

.table tr:nth-child(odd) {
    background-color: #fff;
}

.table th {
    color: white;
    background-color: #1a1245;
}


/* Events ends */


/* EventsDetails starts */

.eventdetails {
    margin: 25px;
}

#new-img {
    width: 60%;
    height: 60%;
    margin-left: 22%;
    margin-top: 10px;
    border-radius: 2%;
    /* border: 3px solid gray; */

}
.txt_body h5{
    color: brown;
    margin-bottom: 5px;
}
.txt_body h1{
    margin-bottom: 5px;
}
@media only screen and (max-width: 360px) {
    #new-img {
          width: 100%;
          height: 100%;
          margin-left: 0;
          margin-top: 0;
}
.txt_body h1{
    font-size: 24px;
}
.txt_body h5{
    font-size: 18px;
    color: brown;
}
.txt_body .pre{
    font-size: 16px;
}
.backToEvents {
    margin: 13px;
    margin-left: 5px;
    /* font-size: 1px; */
}
}

.backToEvents {
    margin: 15px;
    margin-left: 5px;
}

.txt_body {
    text-align: center;
    margin-top: 15px;
}


.pre {
    font-family: inherit;
    white-space: pre-line;
    font-size: 19px;
}


/* EventsDetails ends */


/* contact card starts */

.contact-social {
    text-align: left;
    margin-left: 25%;
    margin-right: 20%;
    padding-left: 10%;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: 'Roboto', sans-serif;
    color: #377293;
}

.reach-us {
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.social-handles {
    padding-bottom: 12%;
}

.contact-card {
    text-align: center;
    height: 80%;
}

.contact-icon-text {
    padding-left: 25%;
    margin-bottom: 10%;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 600px) {
    .contact-social {
        text-align: left;
        margin-left: 15%;
        margin-right: 22%;
        padding-left: 10%;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        font-family: 'Roboto', sans-serif;
        color: #377293;
    }
    .mail-form {
        width: 600px;
    }
    .form-input {
        width: 600px;
    }
}

.map-row {
    text-align: center;
}

.mail-form-text {
    position: "absolute";
    top: -20;
    width: 400;
    zIndex: 3;
    left: 100;
}

.link-anchor {
    text-decoration: none;
    color: #377293;
}


/* .writeToUs{
    position:"absolute";
    top:-20;
    width:400;
    z-index:3;
    left:100;
} */


/* .navbar-fixed {
    position: fixed;
    top: 0;
    z-index: 3;
} */


/* contact card ends */


/* event carousel starts */

.container {
    margin: 10% auto;
    padding: 80px 0;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background-color: #f5f5f5;
}

.slick .slick-next:before,
.slick .slick-prev:before {
    font-size: 2rem;
    color: rgb(206, 192, 192);
}

.slick {
    margin: 30px auto;
    padding: 0px 20px 20px 20px;
    width: 500px;
    background: #fff;
    color: black;
    text-align: center;
}

.slick .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}

.slick-h2 {
    font-family: 'Piedra', cursive;
    padding-top: 10px;
    border-color: black;
    border-bottom: solid;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.slick-h1 {
    font-family: 'Piedra', cursive;
    font-size: 3rem;
    padding-bottom: 10px;
}

.card .card-body .card-text {
    color: brown;
    font-weight: bold;
}

.slick-date {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5px;
}

.slick-show {
    text-decoration: none;
    color: blue;
}

.slick-image {
    width: 300px;
    height: 200px;
    margin-left: 35%;
    margin-bottom: 5%;
}

.event-card {
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    .slick-image {
        width: 300px;
        height: 200px;
        margin-left: 10%;
        margin-bottom: 5%;
    }
}

.slick-div {
    text-align: center;
}

@media only screen and (max-width: 360px) {
    .slick .slick-next:before,
    .slick .slick-prev:before {
        font-size: 3rem;
    }
    .slick .slick-next:before {
        margin-left: -35px;
    }
    .slick .slick-prev:before {
        margin-left: -2px;
    }
}


/* event carousel ends */


/* .event-card {
    margin-left: 9.6%;
} */

@media only screen and (max-width: 600px) {
    .event-card {
        margin-left: 3%;
        margin-right: 5%;
        padding-right: 5%;
    }
    .home-nav {
        width: 600px;
    }
}

.card-image {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.card-title {
    color: black;
}

.slick .slick-prev:before {
    z-index: 10001;
    /* margin-left: -150px; */
    position: absolute;
    left: -35px;
    /* margin-bottom: 40px; */
    top: -80px;
}

.slick .slick-next:before {
    /* margin-left: 50px; */
    position: absolute;
    z-index: 10001;
    right: 20;
    right: -35px;
    top: -80px;
}

@media only screen and (max-width: 900px) {
    .slick .slick-prev:before {
        left: -45px;
    }
    .slick .slick-next:before {
        right: -45px;
    }
    .card-body {
        height: 200px;
        width: 95%;
    }
}

.slick .slick-next:before,
.slick .slick-prev:before {
    border: 5px solid #1A1245;
    padding: 8px;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 2rem;
    color: #1A1245;
}

.slick-track {
    height: 500px;
}

@media only screen and (max-width: 361px) {
    .slick {
        margin: 10px 0 10px 30px;
        /* width: 1200%; */
    }
    .slick .slick-prev:before {
        left: 3px;
    }
    .slick .slick-next:before,
    .slick .slick-prev:before {
        border: 3px solid #1A1245;
        padding: 4px;
        border-radius: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1rem;
        color: #1A1245;
    }
    .slick-track {
        height: 530px;
    }
    .card-image {
        width: 180px;
        height: 180px;
        object-fit: cover;
    }
}

.loading-events {
    margin-left: 47%;
}

.spinner-border {
    position: absolute;
    top: 45%;
    left: 45%;
}